img
{
    position:relative;
    top: 0px;
    left: 0px;
}

#background
{
    position:relative;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#mainchar
{
    position:relative;
    width: 320px;
	height: 540px;
    top: 0px;
    left: 0px;
    z-index: 20;
}

#nameplate
{
    position:relative;
    top: 0px;
    left: 0px;
    z-index: 30;
}
