img
{
    position:absolute;
    top: 0px;
    left: 0px;
}

#background
{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 10;
}

#mainchar
{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 20;
}

#nameplate
{
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 30;
}
